In [65]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from pathlib import Path
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
from sklearn.linear_model import LinearRegression
import seaborn as sns
from statsmodels.tsa.deterministic import CalendarFourier, DeterministicProcess
from scipy.signal import periodogram
import datetime as dt

In [55]:
import os
print(os.getcwd())
pd.set_option('mode.chained_assignment', None)

C:\Users\Lena\Dokumente\GitHub\DataLiteracy

In [66]:
path = "Daten/data.csv"
df =  pd.read_csv(path,header=1, sep=";", names=['date','Tunnel','Steinlach','Hirschau'], parse_dates=['date']).dropna()
df['date']=pd.to_datetime(df['date']).dt.date
df=df.groupby(['date']).sum()

display(df)

            Tunnel  Steinlach  Hirschau
date
2018-01-01   721.0        0.0     184.0
2018-01-02  1593.0        0.0     246.0
2018-01-03  1116.0        0.0      98.0
2018-01-04  1278.0        0.0     120.0
2018-01-05  1703.0        0.0     221.0
...            ...        ...       ...
2022-11-23  4758.0     9211.0     779.0
2022-11-24  4336.0     8844.0     701.0
2022-11-25  4190.0     8394.0     592.0
2022-11-26  2681.0     4939.0     458.0
2022-11-27  1882.0     3131.0     320.0

[1792 rows x 3 columns]

In [75]:
df.index = pd.to_datetime(df.index)

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2022-11-18', '2022-11-19', '2022-11-20', '2022-11-21',
               '2022-11-22', '2022-11-23', '2022-11-24', '2022-11-25',
               '2022-11-26', '2022-11-27'],
              dtype='datetime64[ns]', name='date', length=1792, freq=None)

In [73]:
s = pd.date_range('2016-12-31', '2017-01-08', freq='D').to_series()
s

2016-12-31   2016-12-31
2017-01-01   2017-01-01
2017-01-02   2017-01-02
2017-01-03   2017-01-03
2017-01-04   2017-01-04
2017-01-05   2017-01-05
2017-01-06   2017-01-06
2017-01-07   2017-01-07
2017-01-08   2017-01-08
Freq: D, dtype: datetime64[ns]

In [31]:
df['day'] = df.index.dayofweek
display(df)

AttributeError: 'Index' object has no attribute 'dayofweek'

In [22]:
weeks = pd.date_range('2018-01-01', '2022-11-27', freq='W').to_numpy()
weeks= np.repeat(weeks, 7)

array(['2018-01-07T00:00:00.000000000', '2018-01-07T00:00:00.000000000',
       '2018-01-07T00:00:00.000000000', ...,
       '2022-11-27T00:00:00.000000000', '2022-11-27T00:00:00.000000000',
       '2022-11-27T00:00:00.000000000'], dtype='datetime64[ns]')

In [25]:
#df['week']= weeks.tolist()
#df['week']=pd.to_datetime(df['week']).dt.date
display(df)

            Tunnel  Steinlach  Hirschau        week
date
2018-01-01   721.0        0.0     184.0  2018-01-07
2018-01-02  1593.0        0.0     246.0  2018-01-07
2018-01-03  1116.0        0.0      98.0  2018-01-07
2018-01-04  1278.0        0.0     120.0  2018-01-07
2018-01-05  1703.0        0.0     221.0  2018-01-07
...            ...        ...       ...         ...
2022-11-23  4758.0     9211.0     779.0  2022-11-27
2022-11-24  4336.0     8844.0     701.0  2022-11-27
2022-11-25  4190.0     8394.0     592.0  2022-11-27
2022-11-26  2681.0     4939.0     458.0  2022-11-27
2022-11-27  1882.0     3131.0     320.0  2022-11-27

[1792 rows x 4 columns]